<title>Scraping With Mongoose</title>

<header class="row split y-center">
<h3 id="logo">Mongo Scraper</h3>
    <nav>
      <a href="/">Home  </a>
      <a href="/saved">Saved Articles </a>
    </nav>
</header>

    <div id="wrapper" "text-align">
      <h1 id="title">Mongo Scraper</h1>
      <h2><i>Saved Articles</i></h2>
    </div>
